.cartcounter {
	width: 100%;
	background: #2f5fec;
	border: none;
	color: #ffffff;
	height: 32px;
	border-radius: 0.25rem;

	display: flex;
	align-items: center;
	text-align: center;
	&__item {
		width: 33.3%;
		&:first-child,
		&:last-child {
			cursor: pointer;
			font-weight: 700;
		}
	}
}
