.editcat {
	&__container {
		&--item {
			margin-top: 2rem;
			input,
			textarea {
				padding: 0.5rem;
			}
			label {
				display: inline-block;
				width: 12rem;
			}
		}
		&--image {
			img {
				width: 10rem;
			}
		}
		&--desc,
		&--image {
			label {
				vertical-align: top;
			}
		}
	}
	&__buttons {
		display: flex;
		width: 15rem;
		justify-content: space-between;
		margin-top: 3rem;
	}
}
